APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

KONAMI_ASTEROIDS_ENABLED=true
KONAMI_TOASTY_ENABLED=false
VULTR_REFERRAL_ENABLED=true
VULTR_REFERRAL_LINK=null
GH_BUTTONS_ENABLED=true
BMC_ENABLED=true
OCTOCAT_ENABLED=true

SEED_SUPER_ADMIN_USER_ENABLED=false
SEED_SUPER_ADMIN_USER_NAME=Rick
SEED_SUPER_ADMIN_USER_EMAIL=user@user.com
SEED_SUPER_ADMIN_USER_PASSWORD=password
SEED_ADMIN_USER_ENABLED=false
SEED_USER_ENABLED=false

CK_EDITOR_KEY=''
TINY_MCE_KEY=''
OPEN_AI_KEY=''

APP_AUTHOR='Jeremy Kenedy'
APP_DESC='Laravel 11 + Socialite + Vite + Vue 3 + Tailwind CSS SPA Boilerplate with user authentication, registration, email verification, social media authentication, password recovery, user management, and roles/permissions management. Uses TailwindCSS. While the front end is part of this repository it is a completely separated Vue 3 front end.'
APP_KEYWORDS='framework,laravel,vite,vue3,spa,tailwindcss,auth,authentication,socialite,oauth2'

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_TINY_MCE_KEY="${TINY_MCE_KEY}"


GOOGLE_ANALYTICS_ID=''
GOOGLE_ANALYTICS_ENABLED=false

REDIRECT_BASE_URL=''
#REDIRECT_BASE_URL='${APP_URL}' # Can use this is its a qualified domain or ngrok domain

# https://dev.twitch.tv/docs/authentication/
TWITCH_ENABLED=false
TWITCH_KEY=''
TWITCH_SECRET=''
TWITCH_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/twitch/callback'

# https://github.com/settings/applications/new
GITHUB_ENABLED=false
GITHUB_KEY=''
GITHUB_SECRET=''
GITHUB_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/github/callback'

# https://developers.tiktok.com/
TIKTOK_ENABLED=false
TIKTOK_KEY=''
TIKTOK_SECRET=''
TIKTOK_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/tiktok/callback'

# https://developers.facebook.com/
FACEBOOK_ENABLED=false
FACEBOOK_KEY=''
FACEBOOK_SECRET=''
FACEBOOK_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/facebook/callback'

# https://console.cloud.google.com/apis
GOOGLE_ENABLED=false
GOOGLE_KEY=''
GOOGLE_SECRET=''
GOOGLE_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/google/callback'

# https://developers.google.com/youtube/v3/getting-started
YOUTUBE_ENABLED=false
YOUTUBE_KEY=''
YOUTUBE_SECRET=''
YOUTUBE_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/google/callback'

# https://apps.twitter.com/
TWITTER_ENABLED=false
TWITTER_CLIENT_ID=''
TWITTER_CLIENT_SECRET=''
TWITTER_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/twitter/callback'

# https://instagram.com/developer/register/
# https://developers.facebook.com/apps
INSTAGRAM_ENABLED=false
INSTAGRAMBASIC_CLIENT_ID=''
INSTAGRAMBASIC_CLIENT_SECRET=''
INSTAGRAMBASIC_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/instagram/callback'

#https://socialiteproviders.com/Microsoft/
#https://portal.azure.com/
MICROSOFT_ENABLED=false
MICROSOFT_CLIENT_ID=''
MICROSOFT_CLIENT_SECRET=''
MICROSOFT_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/microsoft/callback'

# https://socialiteproviders.com/Apple/
# https://github.com/SocialiteProviders/Apple#installation--basic-usage
# https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple
# https://bannister.me/blog/generating-a-client-secret-for-sign-in-with-apple-on-each-request
APPLE_ENABLED=false
APPLE_CLIENT_ID=''
APPLE_CLIENT_SECRET=''
APPLE_TEAM_ID=''
APPLE_KEY_ID=''
APPLE_PRIVATE_KEY=''
APPLE_REDIRECT_URI='https://lYOURWEBURLHERE.COM/api/oauth/apple/callback'

# https://socialiteproviders.com/LinkedIn/
# https://www.linkedin.com/developers/apps/new
# https://www.linkedin.com/developers/apps/
LINKEDIN_ENABLED=false
LINKEDIN_CLIENT_ID=''
LINKEDIN_CLIENT_SECRET=''
LINKEDIN_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/linkedin/callback'

# https://www.zoho.com/accounts/protocol/oauth-setup.html
# https://api-console.zoho.com/
ZOHO_ENABLED=false
ZOHO_CLIENT_ID=''
ZOHO_CLIENT_SECRET=''
ZOHO_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/zoho/callback'

# https://stackapps.com/apps/oauth/register
STACKEXCHANGE_ENABLED=false
STACKEXCHANGE_CLIENT_ID=''
STACKEXCHANGE_CLIENT_KEY=''
STACKEXCHANGE_CLIENT_SECRET=''
STACKEXCHANGE_CLIENT_SITE='stackoverflow'
STACKEXCHANGE_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/stackexchange/callback'

# https://gitlab.com/oauth/applications
GITLAB_ENABLED=false
GITLAB_CLIENT_ID=''
GITLAB_CLIENT_SECRET=''
GITLAB_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/gitlab/callback'

# https://docs.google.com/a/reddit.com/forms/d/e/1FAIpQLSezNdDNK1-P8mspSbmtC2r86Ee9ZRbC66u929cG2GX0T9UMyw/viewform
# https://www.reddit.com/prefs/apps
REDDIT_ENABLED=false
REDDIT_CLIENT_ID=''
REDDIT_CLIENT_SECRET=''
REDDIT_RESPONSE_TYPE='code'
REDDIT_STATE='randomStringHere'
REDDIT_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/reddit/callback'

# https://devportal.snap.com/manage/
SNAPCHAT_ENABLED=false
SNAPCHAT_CLIENT_ID=''
SNAPCHAT_CLIENT_SECRET=''
SNAPCHAT_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/snapchat/callback'

# https://www.meetup.com/api/oauth/list/
MEETUP_ENABLED=false
MEETUP_CLIENT_ID=''
MEETUP_CLIENT_SECRET=''
MEETUP_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/meetup/callback'

# https://developer.atlassian.com/console/myapps/
ATLASSIAN_ENABLED=false
ATLASSIAN_CLIENT_ID=''
ATLASSIAN_CLIENT_SECRET=''
ATLASSIAN_REDIRECT_URI='${REDIRECT_BASE_URL}/api/oauth/atlassian/callback'
