APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

KONAMI_ASTEROIDS_ENABLED=true
KONAMI_TOASTY_ENABLED=false
VULTR_REFERRAL_ENABLED=true
VULTR_REFERRAL_LINK=null
GH_BUTTONS_ENABLED=true
BMC_ENABLED=true
OCTOCAT_ENABLED=true

SEED_SUPER_ADMIN_USER_ENABLED=false
SEED_SUPER_ADMIN_USER_NAME=Rick
SEED_SUPER_ADMIN_USER_EMAIL=user@user.com
SEED_SUPER_ADMIN_USER_PASSWORD=password
SEED_ADMIN_USER_ENABLED=false
SEED_USER_ENABLED=false

CK_EDITOR_KEY=''
TINY_MCE_KEY=''
OPEN_AI_KEY=''

APP_AUTHOR='Jeremy Kenedy'
APP_DESC='Laravel 11 + Socialite + Vite + Vue 3 + Tailwind CSS SPA Boilerplate with user authentication, registration, email verification, social media authentication, password recovery, user management, and roles/permissions management. Uses TailwindCSS. While the front end is part of this repository it is a completely separated Vue 3 front end.'
APP_KEYWORDS='framework,laravel,vite,vue3,spa,tailwindcss,auth,authentication,socialite,oauth2'

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_TINY_MCE_KEY="${TINY_MCE_KEY}"
