node_modules/
/node_modules
dist/
.prettierrc.js
.eslintrc.js
.eslintrc.cjs
env.d.ts
.env
vendor/
/vendor
public/
.git
**/.git
**/.svn
**/.hg
**/node_modules
package-lock.json
package.json
composer.json
composer.lock
docker-compose.yml
README.md
/.devcontainer
#prettierrc.js
